.titulo {
  &__texto {
    height: 50px;
    background: rgb(204, 204, 204);
    margin: 0;
  }
}

.contenido {
  &__reclamar {
    height: 50px;
    background: rgb(204, 204, 204);
    margin: 0;
  }
}
